<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <connectionStrings>
    <add name="CreditosDB" connectionString="Data Source=.; Initial Catalog=Creditos; User Id=sa; Password=Samupi7185467*" providerName="System.Data.SqlClient"></add>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      
      <basicHttpBinding>
        <binding name="EnlaceHTTP" closeTimeout="00:10:00" maxReceivedMessageSize="65536" maxBufferSize="65536" messageEncoding="Text" textEncoding="utf-8">
        </binding>
      </basicHttpBinding>
      
      <netTcpBinding>
        <binding name="EnlaceTCP" closeTimeout="00:10:00" maxReceivedMessageSize="65536" maxBufferSize="65536" maxConnections="10">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"></transport>
          </security>
        </binding>
        
      </netTcpBinding>
      <webHttpBinding>
        <binding name="EnlaceHTTPRest" closeTimeout="00:10:00" crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
      
    </bindings>
    
    <services>
      <service name="Pacagroup.Comercial.Creditos.Implementacion.ClienteService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/BankingServices/ServicioCliente"/>
            <add baseAddress="net.tcp://localhost:809/BankingServices/ServicioCliente"/>
          </baseAddresses>
        </host>
        
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="EnlaceHTTP" 
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
        <endpoint address="" 
                  binding="netTcpBinding" 
                  bindingConfiguration="EnlaceTCP" 
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
        <endpoint address="rest" 
                  binding="webHttpBinding" 
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"
                  bindingConfiguration="EnlaceHTTPRest" 
                  behaviorConfiguration="webREST">
        </endpoint>
        
      </service>
    </services>
    
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

</configuration>
