<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IClienteService" />
                <binding name="NetTcpBinding_ICreditoService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICreditoService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICreditoService" />
                <binding name="WSHttpBinding_IClienteService" />
                <binding name="WSHttpBinding_ICreditoService1" />
                <binding name="WSHttpBinding_ICreditoService2" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.38/WCFSoap2/CreditoService.svc"
                behaviorConfiguration="ServiceBehaviorCliente" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICreditoService" contract="ProxyCredito.ICreditoService"
                name="WSHttpBinding_ICreditoService" />
            <!--<endpoint address="http://192.168.0.38/WCFSoap2/ClienteService.svc"
                      behaviorConfiguration="ServiceBehaviorCliente" 
                      binding="wsHttpBinding"
                      bindingConfiguration="WSHttpBinding_IClienteService" 
                      contract="ProxyCliente.IClienteService"
                      name="WSHttpBinding_IClienteService" />
            <endpoint address="http://192.168.0.38/WCFSoap2/CreditoService.svc"
                      binding="wsHttpBinding"
                      bindingConfiguration="WSHttpBinding_ICreditoService1"
                      contract="ProxyCredito.ICreditoService" 
                      name="WSHttpBinding_ICreditoService1">
                <identity>
                    <servicePrincipalName value="host/LUIS" />
                </identity>
            </endpoint>-->
            <!--<endpoint address="net.tcp://luis/WCFSoap2/CreditoService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICreditoService"
                contract="ProxyCredito.ICreditoService" name="NetTcpBinding_ICreditoService">
                <identity>
                    <servicePrincipalName value="host/LUIS" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.0.38/WCFSoap2/CreditoService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICreditoService2"
                contract="ProxyCredito.ICreditoService" name="WSHttpBinding_ICreditoService2">
                <identity>
                    <servicePrincipalName value="host/LUIS" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://luis/WCFSoap2/CreditoService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICreditoService1"
                contract="ProxyCredito.ICreditoService" name="NetTcpBinding_ICreditoService1">
                <identity>
                    <servicePrincipalName value="host/LUIS" />
                </identity>
            </endpoint>-->
          
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceBehaviorCliente">
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="None"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>
