<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICreditoService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICreditoService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.38/WCFSoap2/CreditoService.svc"
                      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICreditoService"
                      contract="ProxyCredito.ICreditoService" name="WSHttpBinding_ICreditoService">
                <identity>
                    <servicePrincipalName value="host/LUIS" />
                </identity>
            </endpoint>
            <!--<endpoint address="net.tcp://luis/WCFSoap2/CreditoService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICreditoService"
                contract="ProxyCredito.ICreditoService" name="NetTcpBinding_ICreditoService">
                <identity>
                    <servicePrincipalName value="host/LUIS" />
                </identity>
            </endpoint>-->
        </client>
    </system.serviceModel>
</configuration>
