<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CreditosDB" connectionString="Data Source=.; Initial Catalog=Creditos; User Id=sa; Password=Samupi7185467*" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="User" value="sa"/>
    <add key="Password" value="Samupi7185467*"/>
  </appSettings>-->
 
  
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="EnlaceHTTP" closeTimeout="00:10:00" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8">
          <!--<security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>-->
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="EnlaceTCP" closeTimeout="00:10:00" maxReceivedMessageSize="65536" maxBufferSize="65536" maxConnections="10">
          <!--<security mode="Message">
            <message clientCredentialType="UserName"/>
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>-->
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="EnlaceHTTPRest" closeTimeout="00:10:00" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Pacagroup.Comercial.Creditos.Implementacion.ClienteService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EnlaceHTTP" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="EnlaceTCP" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"/>
        <endpoint address="rest" binding="webHttpBinding" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService" bindingConfiguration="EnlaceHTTPRest" behaviorConfiguration="webREST"/>
      </service>
      <service name="Pacagroup.Comercial.Creditos.Implementacion.CreditoService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EnlaceHTTP" contract="Pacagroup.Comercial.Creditos.Contrato.ICreditoService"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="EnlaceTCP" contract="Pacagroup.Comercial.Creditos.Contrato.ICreditoService"/>
        <endpoint address="rest" binding="webHttpBinding" contract="Pacagroup.Comercial.Creditos.Contrato.ICreditoService" bindingConfiguration="EnlaceHTTPRest" behaviorConfiguration="webREST"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>        
          
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Pacagroup.Comercial.Creditos.Implementacion.CustomUserNameValidator, Pacagroup.Comercial.Creditos.Implementacion"/>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>